# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Generated archives
*.ipa
*.dSYM.zip
*.dSYM

# Local secrets
.env
.env.*
